In [1]:
# importando a biblioteca pandas
import pandas as pd

In [14]:
# importando planilha excel
df = pd.read_excel("DadosAtividadePratica.xls", "Demandas")

In [15]:
df.drop(['Sala 1', 'Sala 2', 'Sala 3', 'Sala de Aula'], axis=1)

,DA,Curso,Ano/Período,Semestre,Turno,Disciplina,CH total\n (h/a),CH \nsemanal,Grupo/Diretoria Oferta,Sala de Aula
0,DIACON,Engenharia Civil,1,2022.2,Vespertino,Desenho Técnico,80,4.0,DIACON,NaN
1,DIACON,Engenharia Civil,1,2022.2,Vespertino,Introdução à Engenharia,40,2.0,DIACON,X
2,DIACON,Engenharia Civil,1,2022.2,Vespertino,Algoritmo e Linguagem de Programação,80,4.0,DIATINF,NaN
3,DIACON,Engenharia Civil,1,2022.2,Vespertino,Mecânica Clássica,120,6.0,Física,X
4,DIACON,Engenharia Civil,1,2022.2,Vespertino,Leitura e Produção de Textos,80,4.0,Língua Portuguesa,X
...,...,...,...,...,...,...,...,...,...,...
212,DIACON,Subsequente em Estradas,4,2022.2,Vespertino,Seminario de Pratica Profissional II,20,1.0,DIACON,X
213,DIACON,Subsequente em Estradas,4,2022.2,Vespertino,Tráfego e Transporte Urbano,80,4.0,DIACON,X
214,DIAREN,Subsequente em Segurança do Trabalho,1,2022.2,Noturno,Desenho Técnico,80,4.0,DIACON,NaN
215,DIAREN,Subsequente em Segurança do Trabalho,1,2022.2,Vespertino,Desenho Técnico,80,4.0,DIACON,NaN
216,DIATINF,Tecnologia em Comércio Exterior,4,2022.2,Matutino,Logística e Transporte Internacional,60,3.0,DIACON,X

In [9]:
df

,DA,Curso,Ano/Período,Semestre,Turno,Disciplina,CH total\n (h/a),CH \nsemanal,Grupo/Diretoria Oferta,Sala de Aula,Sala 2,Sala 3
0,DIACON,Engenharia Civil,1,2022.2,Vespertino,Desenho Técnico,80,4.0,DIACON,NaN,Sala Desenho (DIACON),NaN
1,DIACON,Engenharia Civil,1,2022.2,Vespertino,Introdução à Engenharia,40,2.0,DIACON,X,NaN,NaN
2,DIACON,Engenharia Civil,1,2022.2,Vespertino,Algoritmo e Linguagem de Programação,80,4.0,DIATINF,NaN,NaN,NaN
3,DIACON,Engenharia Civil,1,2022.2,Vespertino,Mecânica Clássica,120,6.0,Física,X,NaN,NaN
4,DIACON,Engenharia Civil,1,2022.2,Vespertino,Leitura e Produção de Textos,80,4.0,Língua Portuguesa,X,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
212,DIACON,Subsequente em Estradas,4,2022.2,Vespertino,Seminario de Pratica Profissional II,20,1.0,DIACON,X,NaN,NaN
213,DIACON,Subsequente em Estradas,4,2022.2,Vespertino,Tráfego e Transporte Urbano,80,4.0,DIACON,X,NaN,NaN
214,DIAREN,Subsequente em Segurança do Trabalho,1,2022.2,Noturno,Desenho Técnico,80,4.0,DIACON,NaN,NaN,NaN
215,DIAREN,Subsequente em Segurança do Trabalho,1,2022.2,Vespertino,Desenho Técnico,80,4.0,DIACON,NaN,NaN,NaN
216,DIATINF,Tecnologia em Comércio Exterior,4,2022.2,Matutino,Logística e Transporte Internacional,60,3.0,DIACON,X,NaN,NaN